extends ../layout

append stylesheets

append javascripts
    script.
        $(function(){
            $('.tabular.menu .item').tab();
        })

append signupContent

    h1.ui.header Signup for [Event Title]

    p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu
        pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt
        id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia
        ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.
        Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam.

    .ui.hidden.divider

    .ui.hidden.divider

    form.ui.form(name='mainForm')

        .ui.relaxed.stackable.grid

            .ten.wide.column

                h5.ui.heading Contact Details
                .ui.basic.green.segment

                    .field
                        label(for='nickName') Username
                        input(type='text', id='nickName', name='nickName',value='loginName', readonly)

                    .two.fields.required
                        .field
                            label(for='firstName') First Name
                            input(type='text', id='firstName', name='firstName')

                        .field
                            label(for='lastName') Last Name
                            input(type='text', id='lastName', name='lastName')

                    .field.required
                        label(for='') Email Address
                        input(type='text', id='', name='')

                    .field
                        label(for='phone') Phone Number
                        input(type='text', id='phone', name='phone')

            .six.wide.column

                h5.ui.heading Emergency Contact
                .ui.basic.red.segment

                    .field.required
                        label(for='') Full Name
                        input(type='text', id='', name='')

                    .field.required
                        label(for='') Phone Number
                        input(type='text', id='', name='')

                    .field.required
                        label(for='') Email Address
                        input(type='text', id='', name='')


                h5.ui.header Your Guests
                .ui.basic.blue.segment
                    a.basic.ui.button
                        i.add.icon
                        | Add Guest

                h5.ui.header Your Pets
                .ui.basic.brown.segment
                    a.basic.ui.button
                        i.add.icon
                        | Add Pet

        h3.ui.dividing.header Tell us what you would like to attend

        .ui.relaxed.stackable.grid

                .sixteen.wide.column

                    .inline.stackable.fields

                        label Attend
                        .field
                            .ui.checkbox
                                input(type='checkbox', name='allDays', id='allDays')
                                label(for='allDays') All Days

                        .field
                            .ui.checkbox
                                input(type='checkbox', name='allMeals', id='allMeals')
                                label(for='allMeals') All Meals

                        .field
                            .ui.checkbox
                                input(type='checkbox', name='allActivities', id='allActivities')
                                label(for='allActivities') All Activities

                        .field
                            .ui.checkbox
                                input(type='checkbox', name='allTasks', id='allTasks')
                                label(for='allTasks') I want to help

                    .ui.hidden.divider

                    .ui.top.attached.tabular.menu
                        a.active.item(data-tab='first') Jan 12
                        a.item(data-tab='second') Jan 13
                        a.item(data-tab='third') Jan 14

                    .ui.bottom.attached.active.tab.segment(data-tab='first')
                        | First
                        include parts/eventDayFields

                    .ui.bottom.attached.tab.segment(data-tab='second')
                        | Second
                        include parts/eventDayFields

                    .ui.bottom.attached.tab.segment(data-tab='third')
                        | Third
                        include parts/eventDayFields

            .ui.hidden.divider

        .ui.container

            .ui.grid

                .sixteen.wide.right.aligned.column

                    a.ui.big.primary.button(href='/guest')
                        | Reserve Your Spot!


append footer
    p &nbsp;
    p &nbsp;