extends ../layout

block content
    .ui.fixed.inverted.menu
        .ui.container
            a.header.item(href='#')
                // img.logo(src='assets/images/logo.png')
                | Hamicon
            a.item(href='/') Home
            .ui.simple.dropdown.item
                | Content
                i.dropdown.icon
                .menu

                    .header Events
                    a.item(href='/admin/events/') List Events
                    a.item(href='/admin/events/create/') New Event

                    .header Persons
                    a.item(href='/admin/persons/') List Persons
                    a.item(href='/admin/persons/create/') New Person
                    .divider

                    .header Addresses
                    a.item(href='/admin/addresses/') List Addresses
                    a.item(href='/admin/addresses/create/') New Address
                    .divider

                    .header Schedule Dates
                    a.item(href='/admin/scheduleDates/') List Schedule Dates
                    a.item(href='/admin/scheduleDates/create/') New Schedule Date
                    // .divider

    .ui.main.text.container

        .ui.breadcrumb
            a(href="/").section Home

            if url
                - var folders = url.split('/')
                each val in folders
                    if val.length != 24 && val.length > 0
                        i.right.chevron.icon.divider
                        .section= val
            .ui.hidden.divider

        //- Message Handling
        if error && error.length > 0
                .ui.red.message= error
        if success && success.length > 0
                .ui.green.message= success
        if info && info.length > 0
                .ui.blue.message= info

        block appContent
            //- Content Renders Here
