extends ../layout

append stylesheets
    link(rel="stylesheet", type="text/css", href="/javascripts/daterangepicker.min.css")

append javascripts
    // script(src="/jquery_timepicker/jquery.timepicker.min.js")
    script(src="/jquery_timepicker/jquery.timepicker.js")
    script(src="/javascripts/moment.min.js")
    script(src="/javascripts/daterangepicker.min.js")
    script(src="/datepair/dist/datepair.min.js")
    script(src="/datepair/dist/jquery.datepair.min.js")
    script(src='/javascripts/jquery-maxlength.js')
    script(src="/javascripts/searchAPIs.js")

block content
    .ui.fixed.inverted.menu
        .ui.container
            a.header.item(href='/')
                | Hamicon

            .ui.simple.dropdown.item
                | Main
                i.dropdown.icon
                .menu

                    .header Events
                    a.item(href='/admin/events/') List Events
                    a.item(href='/admin/events/create/') New Event
                    .divider

                    .header Persons
                    a.item(href='/admin/persons/') List Persons
                    a.item(href='/admin/persons/create/') New Person

            .ui.simple.dropdown.item
                | Parts
                i.dropdown.icon
                .menu

                    .header Addresses
                    a.item(href='/admin/addresses/') List Addresses
                    a.item(href='/admin/addresses/create/') New Address
                    .divider

                    .header Schedule Dates
                    a.item(href='/admin/scheduleDates/') List Schedule Dates
                    a.item(href='/admin/scheduleDates/create/') New Schedule Date
                    .divider

                    .header Activities
                    a.item(href='/admin/activities/') List Activities
                    a.item(href='/admin/activities/create/') New Activity

    .ui.main.text.container

        .ui.breadcrumb
            a(href="/").section Home

            if url
                - var folders = url.split('/')
                each val in folders
                    if val.length != 24 && val.length > 0
                        i.right.chevron.icon.divider
                        .section= val
            .ui.hidden.divider

        block appContent
            //- Content Renders Here
