extends ../layout

append stylesheets
    link(rel="stylesheet", type="text/css", href="/javascripts/daterangepicker.min.css")
    style(type='text/css').
        html.ios {
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
        }
        html.ios,
        html.ios body {
            height: initial !important;
        }
        .segment.main {
            margin-top: 50px;
            padding-left: 175px;
        }

append javascripts
    script(src="/jquery_timepicker/jquery.timepicker.js")
    script(src="/javascripts/moment.min.js")
    script(src="/javascripts/daterangepicker.min.js")
    script(src="/datepair/dist/datepair.min.js")
    script(src="/datepair/dist/jquery.datepair.min.js")
    script(src='/javascripts/jquery-maxlength.js')
    script(src="/javascripts/searchAPIs.js")
    script.
        $(function(){
            $('.launch.icon').click(function(){
                $('#mainSidemenu').sidebar('toggle')
            })
            $('a.newItem').prop('href', '#{createAction}')
            $('[data-content], [data-title]').popup()
        })

block content

    #mainSidemenu.ui.fixed.inverted.left.thin.vertical.visible.sidebar.menu

        .item
            .header Members
            .menu
                a.item(href='/admin/addresses/') Addresses
                a.item(href='/admin/persons/') People
                a.item(href='#') Reservations
        .item
            .header Events
            .menu
                a.item(href='/admin/activities/')  Activities
                a.item(href='/admin/events/') Events
                a.item(href='/admin/meals/') Meals
                a.item(href='/admin/scheduleDates/') Schedule Dates
                a.item(href='/admin/tasks/') Tasks

    .ui.fixed.inverted.menu

        a.launch.icon.item
            i.content.icon
        a.header.item(href='#')
            // img.logo(src='assets/images/logo.png')
            | Hamicon

    .ui.basic.segment.main

        block appContent
