extends ../layout

append stylesheets
    link(rel="stylesheet", type="text/css", href="/lib/daterangepicker.min.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/admin.css")
    style.
        body {
            margin-top: 70px
        }

        body {
            margin-top:100px
        }
        @media only screen and (min-width: 1200px) {
            .ui.container {
                width: 951px;
            }
        }

append javascripts
    script(src="/lib/tinymce/tinymce.min.js")
    script(src="/lib/jquery_timepicker/jquery.timepicker.js")
    script(src="/lib/moment.min.js")
    script(src="/lib/daterangepicker.min.js")
    script(src="/lib/datepair/dist/datepair.min.js")
    script(src="/lib/datepair/dist/jquery.datepair.min.js")
    script(src="/javascripts/searchAPIs.js")
    script(src="/javascripts/adminScripts.js")

block content
    body.admin

        block toolbar

        .ui.main.container

            block appContent
