extend ../layout

append javascripts
    script.
        $('#editEvent')
            .form({
                fields: {
                name: 'empty',
                description: 'empty',
            }
        })

append appContent

    form#editEvent.ui.form(method=formMethod action=formAction)
        input(type="hidden", name="_method", value="put")

        .field
            label(for="name") Event Name
            input(type="text", name="name", id="name",  pattern="[A-Z,a-z, ]*", value=data.name)

        .field
            label(for="description") Description
            textarea(type="text", name="description", id="description", rows="3",  pattern="[A-Z,a-z, ]*")
                = data.description

        .field Schedule
        .field Select Contact
        .field Select/Add Location

        .ui.submit.button Submit
        .ui.reset.button Reset
        .ui.clear.button Clear
