include ../layout/mixinCard

+cardNoPad(12)

  h5 Events

  button#table-menu table menu link
  ul(for='table-menu')
    li Some Action
    li Another Action
    li(disabled='') Disabled Action
    li Yet Another Action

  block content
