include ../layout/mixinCard

+cardNoPad(12)
    .mdl-card__title
        h5.mdl-card__title-text Events

    // Right aligned menu below button
    button#table-menu.mdl-button.mdl-js-button.mdl-button--icon.mdl-card__menu
      i.material-icons more_vert
    ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='table-menu')
      li.mdl-menu__item Some Action
      li.mdl-menu__item Another Action
      li.mdl-menu__item(disabled='') Disabled Action
      li.mdl-menu__item Yet Another Action

    block content