extend ../layout

block appContent

    .ui.raised.segment

        h1 Events

        table.ui.small.padded.very.basic.selectable.table
            thead
                tr
                    th Name
                    th Contact
                    th.right.aligned Date/Time

            tbody
                if !data.length
                    tr: td.center.aligned(colspan='5')
                        .ui.basic.icon.button
                            a(href=createAction)
                                i.plus.icon
                                | Add First Event

                else
                    each row in data
                        tr
                            td(data-label="Name")
                                a#row1Link(href=editAction + row.id)= row.name
                            td(data-label="Contact") Olddog
                            td.right.aligned(data-label="Date/Time") Saturday, 11:00am - 2:00pm

        if data.length
            .ui.hidden.divider
            .ui.row
                .ui.icon.button
                    a(href=createAction)
                        i.plus.icon
                        | Add Event
