extend ../layout

include ../layout/mixinCard

block appContent

    h3 Events

    .ui.segment: table.ui.very.basic.single.line.selectable.table
        thead
            tr
                th Name
                th Contact
                th.right.aligned Date/Time

        tbody
            if data
                each row in data
                    tr
                        td(data-label="Name")
                            a#row1Link(href='/admin/events/edit/' + row.id)= row.name
                        td(data-label="Contact") Olddog
                        td.right.aligned(data-label="Date/Time") Saturday, 11:00am - 2:00pm

        tfoot.full-width
            tr
                th(colspan='3')
                    a(href=create).ui.right.floated.small.primary.labeled.icon.button
                        i.user.icon
                        |  Add Event

    .ui.hidden.divider