extend ../layout

include ../layout/mixinCard

block appContent

    h3 Address

    table.ui.fixed.very.basic.single.line.selectable.table
        thead
            tr
                th Name
                th Address
                th Country
                th State
                th Map

        tbody
            if !data.length
                tr: td(colspan='5') No Results
            else
                each row in data
                    tr
                        td(data-label="Name")
                            a#row1Link(href=edit + row.id)
                                = row._mainPerson ? row._mainPerson.fullName : 'No Name'

                        td(data-label="Address")
                                = row.address1

                        td(data-label="Country")
                                = row.country

                        td(data-label="State")
                                = row.state

                        td.center.aligned(data-label="Map")
                            if row.location
                                a(href='https://www.google.com/maps/place/' + row.location)
                                    i.large.red.marker.square.icon

        tfoot.full-width
            tr
                th(colspan='5')
                    .ui.right.floated.icon.button
                        a(href=create)
                            i.plus.icon
                            | Create
