extend ../layout

block appContent

    h1 Address

    .ui.raised.segment

        table.ui.small.padded.very.basic.selectable.table
            thead
                tr
                    th Name
                    th Address
                    th Country
                    th State
                    th Map

            tbody
                if !data.length
                    tr: td.center.aligned(colspan='5')
                        .ui.basic.icon.button
                            a(href=createAction)
                                i.plus.icon
                                | Add First Address

                else
                    each row in data
                        tr
                            td(data-label="Name")
                                a#row1Link(href=editAction + row.id)
                                    = row._contact ? row._contact.fullName : 'No Name'

                            td(data-label="Address")
                                    = row.address1

                            td(data-label="Country")
                                    = row.country

                            td(data-label="State")
                                    = row.state

                            td.center.aligned(data-label="Map")
                                if row.location
                                    a(href='https://www.google.com/maps/place/' + row.location)
                                        i.large.red.marker.square.icon

    if data.length

        .ui.row
            .ui.icon.button.right.floated
                a(href=createAction)
                    i.plus.icon
                    | Add Address
