extend ../layout

include ../../mixins/addressSelector

include parts/form

append stylesheets
    link(rel="stylesheet", type="text/css", href="/javascripts/daterangepicker.css")

append javascripts
    script(src="/jquery_timepicker/jquery.timepicker.min.js")
    script(src="/javascripts/moment.js")
    script(src="/javascripts/daterangepicker.min.js")
    script(src="/javascripts/moment.js")
    script(src="/javascripts/searchAPIs.js")

    script(src="/javascripts/scheduleDayForm.js")
    script.
        $(function(){
            scheduleEventFormScripts('#{data.id}', '#{data.id}')
            $('.addressSelector').search(localAddressSearch)
        })


append appContent

    - var method
    if (formMethod != 'post' && formMethod != 'get')
        - method = 'post'
    else
        - method = formMethod

    .ui.raised.segment

        h1 Schedule Date

        +scheduleDayForm(title, user, dateFormat, data, formMode, formMethod, formAction)

        .ui.hidden.divider

        .ui.row
            .ui.primary.submit.button
                case formMode
                    when 'edit': | Update
                    default: | Save

            a.ui.button(href=list)
                | Cancel

            if formMode == 'edit'
                .ui.delete.icon.button.right.floated(title='Delete')
                    i.trash.outline.icon
