extend ../layout

include ../../mixins/pagination

append javascripts
    script.
        $(function(){
            $('form.batch').delegate('tr', 'click', function(event) {
                var $this = $(this)
                var $box = $this.find('input.batch')
                if ($box.is(':checked')) {
                    $box.removeAttr('checked')
                    $this.removeClass('active')
                } else {
                    $box.attr('checked', 'checked')
                    $this.addClass('active')
                }
            }).delegate('input, a', 'click', function(event) {
                event.stopPropagation()
                var $el = $(this)
                if ($el.is('input.batch')) {
                    if ($el.is(':checked')) {
                        $el.closest('tr').addClass('active')
                    } else {
                        $el.closest('tr').removeClass('active')
                    }
                }
            }).delegate('input.batch-all', 'click', function(event){
                if ($(this).is(':checked')) {
                    $('form.batch input.batch').attr('checked','checked').closest('tr').addClass('active')
                } else {
                    $('form.batch input.batch').removeAttr('checked').closest('tr').removeClass('active')
                }
            })

            // var gMapUrl = 'https://www.google.com/maps/embed/v1/place?key=AIzaSyCszYBdD5JzHMDPJcdcCR0R7HWTcykLPpE&q='
            var gMapUrl = 'https://www.google.com/maps/embed/v1/view'
                gMapUrl += '?key=AIzaSyCszYBdD5JzHMDPJcdcCR0R7HWTcykLPpE'
                gMapUrl += '&zoom=18'
                gMapUrl += '&center='

            $('.map').popup({
                onShow: function(){
                    var gMap = $(this).closest('.googlemap').find('.gMap')
                    var mapUrl = gMapUrl + gMap.attr('data-location').replace(/\s+/g, '')
                    console.log(mapUrl)
                    gMap.attr('data-url', mapUrl).embed()
                }
            })
        })
block appContent

    h1 Schedule Dates

    .ui.raised.segment

        form.batch: table.ui.small.padded.very.basic.selectable.table
            thead
                tr
                    th.four.wide Schedule Day
                    th.three.wide Start Time
                    th.three.wide End Time
                    th Address

            tbody
                if !data.docs.length
                    tr: td.center.aligned(colspan='4')
                        .ui.basic.icon.button
                            a(href=createAction)
                                i.plus.icon
                                | Add First Schedule Date

                else
                    each row in data.docs
                        tr
                            td(data-label="Schedule Day")
                                a(href=editAction + row.id)
                                    = row.scheduleDay?row.scheduleDay:'UNDEFINED'

                            td(data-label="Start Time")
                                = row.startTime

                            td(data-label="End Time")
                                = row.endTime

                            td.center.aligned.googlemap(data-label="Address")
                                if row._address && row._address.location
                                    a.map(href='https://www.google.com/maps/place/' + row._address.location)
                                        i.large.red.marker.square.icon
                                    .ui.fluid.popup.top.left.transition.hidden
                                        .gMap.ui.embed(data-location=row._address.location)

        .ui.basic.clearing.segment
            +pagination(1, data.pages, data.page, '/admin/scheduleDates/')

    if data.length

        .ui.row
            .ui.icon.button.right.floated
                a(href=createAction)
                    i.plus.icon
                    | Add Schedule Date
