mixin scheduleDayDateTime(data)

    .three.fields

        .field.required
            label(for="dateField") Date (day)
            .ui.left.icon.input
                input(type="text", name="scheduleDay", id="dateField", value=data.scheduleDay)
                i.calendar.icon

        .field.required
            label(for="startTime") Start Time
            input(type="text", name="startTime", id="startTime", value=data.startTime)

        .field.required
            label(for="endTime") End Time
            input(type="text", name="endTime", id="endTime", value=data.endTime)

mixin locationSelector(data)

    .field.required
        label(for="location") Location
        +addressSelector("location", data._address, data.id)
