a#top
h1.ui.header
    | Introducing Hangcon
    .sub.header  A Hammock Hanging Convention

p Over the past five years, we, the hangers in Florida have reveled in the chance to share our hospitality with the growing hammocking community in the Florida Hangs. They've grown and grown into a spectacular event.

p Our community is reaching far beyond the confines of Florida and we want to reflect an approach that invites and involves the entire hammocking community. It is our hope and intention to continue in the established traditions, specifically as follows:

.ui.icon.message
    i.linkify.icon
    .content
        .header Here’s our last trip report to wet your appetite

p.
    Martin Luther King, Jr weekend will still be the occasion, and it’s a frosty weekend we’ll be hoping for. By “weekend” of course we mean Thursday to Tuesday!! That’s January 14 to 19, 2016.
    There will be a raffle. It will be big. It will be cool. I have no idea what that means exactly but I believe it to be true.
    There will be food. Oh yeah… there will be food!! We will have calories, both beautiful and bounteous, for you to burn to keep warm.
    Speaking of warm, there will be fire. It will also be big. It will be hot. It will be inside and it will be outside. And it will be going the entire weekend.

h5 Children and dogs:
p Both are welcome. Please use your discretion for your kids. Dogs must be leashed or penned.

a#activities
h3.ui.header Activities
p Here’s a sampling of some of the things that there will be to do:
ul
    li Hiking trips every day.
    li Kayaking trips every day.
    li Dutch Oven cooking classes every day.
    li Dishwashing competitions every day.
    li Survival classes.
    li Navigation classes.
    li Knife sharpening classes.
    li Knot tying classes.
    li Kids’ nature activities.
    li A Garage Swap.
    li Vendors eager to show you the good stuff.
    li Every imaginable type of hammock rig for you to check out.
    li Eating. Oh yeah…there will be lots of eatin’.
    li And plenty of just laid back hangin’ around.

p
    | Those who sign up on the attendee spreadsheet will get a patch and name tag.
    br
    | There'll be a gear donation table set up throughout the event.
    br
    | We will have a worship service Sunday morning after breakfast.
    br
    | There will be a marriage vow renewal - not sure of the timing yet.
    br
    | We will be at Doe Lake Group Site in the beautiful Ocala National Forest.


p Historically, Florida Hangs attracted all sorts of folks into the woods: hardcore (and decidedly not hardcore) backwoods backpackers and trekkers, kayakers and car campers. HangCon promises more of the same – just more of it. Our trail-laced camp site at Doe Lake enables folks to stay close to other folks if they wish or to push off into a more secluded spot—your choice. No matter where you like to set up your set up, HangCon will have something to offer. For the more civilizationally-inclined, Doe Lake also has flush toilets and hot showers on site!!

p The planning committee has been hard at work getting things in line, but our process keeps the doors wide open to anyone with ideas, vision, or just a desire to help out. Our model is to have scheduling for those who like to have things planned out while also enabling lots of space for those who prefer to just flow with it.

a#cost
h3.ui.header Cost
p.
    There is no cost for anyone to participate in HangCon. That right’s - you don’t have to pay to come, be part of the community and have a good time with everyone. So please don’t let cost keep you home. Of course, some specific events may have fees to participate.
    That said, a mass hanging of this magnitude is not free either. It is our hope to keep attendance costs at zero for all participants and vendors. But based on past experience, we expect expenses to run around $5k.

.ui.message Donations are accepted, encouraged even (really encouraged in fact!) - recommendation: $5-10 a day per person. Raffle ticket sales also help cover the expenses.

p All funds go to the hang. There is no paid staff and any unused funds are used to support Doe Lake or are donated to the FL Trail Assn., Friends of FL State Parks, and/or other similar outdoorsy, do-gooder organizations.

a#funds
h3.ui.header Funds
p Gumbo & I will be the primary handlers of the funds once more and we will transition this job to a new person this year. So if you would like to make an advance donation - which would be very helpful and very appreciated, please Paypal (as a gift) to terri_wetherington@yahoo.com.

a#tickets
h3.ui.header Raffle Tickets
p.
    Raffle Tickets will go on sale at HangCon on Saturday after lunch, cost will be $5 each or 5 for $20.
    Raffle tickets are also available in advance. To encourage folks to buy tickets in advance, $20 will get 6 tickets (instead of 5) if you buy them before the end of 2015. The funds have to be in Gumbo's Paypal account before 1/1/16. If you would like advance tickets, you can Paypal a gift of the appropriate amount to terri_wetherington@yahoo.com. Please include your HF name as a note with your Paypal submission. We may not know your real name and may not (read: will not) recognize your email address. The Paypal note should also clearly state how much you're allocating to raffle tickets and how much as a donation. Raffle tickets purchased in advance will be distributed Saturday afternoon.

a#vendors
h3.ui.header Vendors
p We love you! Please come!! Please shoot Gumbo or me a PM letting us know you're coming. That part is important – let us know you’re coming and how we can best serve you. If you need any equipment, assistance or a particular spot, just let us know.

a#rules
h3.ui.header Rules
p This is the part where I start playin’ sheriff (thanks Cakes…). Here’s some rules to keep things flowing for ya’ll:

p.
    In keeping with the Hammock Forums community and our usual vibes, this is a family friendly event. And it's going to stay that way.
    The official first day is Friday, Jan. 15, 2016. Folks always want to come early; so you may come on Thursday the 14th. If you want to come earlier, please stay at a nearby site and come to Doe Lake on Thursday.
    This is a hammocking event. We allow tents as a courtesy (and because we’re gonna try to convert them). Pop-up campers, trailers, RVs, motorhomes, etc. just aren't part of the picture. If they would like to participate, they are invited to stay at other, nearby RV friendly sites – and come in for activities each day.
    Check in on the porch immediately upon arrival. Immediately means before setting up.

a#parking
h3.ui.header Regarding parking
p
    Parking in parking area only. By that we mean parking in parking area only. If you need to hang next to your vehicle, you will need to pick a hang spot next to the parking area.
    br
    |There are only two exceptions:
    ol
        li Those with a Handicap Parking Tag may park along the road and hang next to their vehicle.
        li Parking behind the Hall is for folks checking in (and then only for a few minutes) and for vendors who need to go back and forth to their vehicle to do their vendorin’ thing.
        You may drive to your site, dump your gear, pets and small children, even set up your set up. But when you’re done – go park in the parking area.
        Yes motorcycles, the above applies to you.

p No generators and no hook ups. Doe Lake has plenty of fresh water.

.ui.yellow.icon.message
    i.fire.icon
    .content
        .header DO NOT BRING FIREWOOD FROM OUT OF STATE!
        p It may have cooties and we don't want your cooties.

p New rule this year. Though we don’t like it, you may bring your own firewood and have a small fire at your site. We don’t like it because it misses the point of being in community, and fireside is the perfect place to meet new folks and swap old stories.

h5 Oh yeah…

P Rule #1: anyone who complains automatically volunteers to do that job from then on.

p Corollary to Rule #1: anyone who plays with the megaphone gets my job.

p Okay so rule number one is actually HAVE FUN so…

p &nbsp;
