h2.ui.center.aligned.header Sign Up

form.ui.form

    .ui.very.relaxed.stackable.grid

        .eight.wide.column
            .field
                label Username
                .ui.left.icon.input
                    input(type='text')
                    i.user.icon

            .field
                label Password

                .ui.left.icon.input
                    input(type='text')
                    i.lock.icon
            .field
                label Email
                .ui.left.icon.input
                    input(type='text')
                    i.mail.icon
            .field
                a.ui.button(href='/signup')
                  | Create Account

        .ui.vertical.divider
            | Or

        .eight.wide.column
            .field
                label &nbsp;
                button.fluid.ui.facebook.button
                  i.facebook.icon
                  | Signup with Facebook

            .field
                label &nbsp;
                button.fluid.ui.google.plus.button
                  i.google.plus.icon
                  | Signup with Google Plus

