extends ../layout

append stylesheets
    style.
        body {
            margin-top:100px
        }
        @media only screen and (min-width: 1200px) {
            .ui.container {
                width: 951px;
            }
        }

block content
    .ui.container
        block guestContent

            block frontContent
