
html.ios {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
    height: initial !important;
}
body.pushable>.pusher{
    background-color: rgba(255,255,255,.9);
}
#mainContent {
    padding-top: 10px;
}
#mainMenuTop {
    margin: 0;
}

#toolbar:not(.fixed) .launch.icon {
    display: none !important;
}

#toolbar.fixed {
    width: 100% !important;
    margin-left: 0!important;
    margin-right: 0!important;
}

.field.textarea label {
    float: left;
}

.field.textarea .counter {
    color: rgba(0,0,0,.67);
    display: block;
    float: right;
    font-size: .92857143em;
    font-weight: 700;
    margin: 0 0 .28571429rem;
    text-transform: none;
}

@media only screen and (max-width: 768px) {
    .hide-mobile {
        display: none !important;
    }
    .show-mobile {
        display: inline-block !important;
    }
}
@media only screen and (min-width: 768px) {
    .show-mobile {
        display: none !important;
    }
    .segment.main {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-width: 0px;
        /*padding-left: 275px;*/
    }
}
