
.ui.menu .item .logo {
    margin-right: 1.5em;
}

.wireframe {
    margin-top: 2em;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

.ui.segment .inline.equal.width.fields {
    margin-bottom: 0;
}

.nicePre {
    overflow: auto;
    white-space: pre;
}

#noty_topRight_layout_container {
    top: 100px !important;
}

@media only screen and (max-width: 768px) {
    .hide-mobile {
        display: none !important;
    }
    .show-mobile {
        display: inherit;
    }
}
@media only screen and (min-width: 768px) {
    .show-mobile {
        display: none !important;
    }
    .segment.main {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-width: 0px;
    }
}
