.ui.stackable.grid
    .two.column.row

        .column.five.wide
            .field
                .ui.checkbox
                    input(type='checkbox', name='thisDay', id='thisDay')
                    label(for='thisDay') I am attending this day

            .field
                .ui.checkbox
                    input(type='checkbox', name='thisDaysMeals', id='thisDaysMeals')
                    label(for='thisDaysMeals') I am eating all meals

            .field
                .ui.checkbox
                    input(type='checkbox', name='thisDaystasks', id='thisDaystasks')
                    label(for='thisDaystasks') I would like to help out

        .ui.vertical.divider
        .column
            .ui.divided.items
                .item
                    i.food.icon.big
                    .content
                        i.like.icon
                        .header
                            | Breakfast
                        .meta  8 am - 9 am
                        .description
                            .row Buttermilk Pancakes (made from scratch) with Real Fancy Grade Maple Syrup
                            .row Eggs Scrambled, Poached, or Fried any style
                            .row Bacon or Sausage
                        .extra
                            .ui.right.floated.button
                                | Action

            .ui.items
                .item
                    .ui.icon
                        i.rocket.icon.big
                    .content
                        i.favorite.icon
                        .header
                            | Paracord Braceletes
                        .meta 12 pm - 2 pm
                        .description
                        p.
                           paracord bracelets sell for loads of money! come learn how to make them
                           yourself for less than a dollar a piece! and your kids will have a blast
                           with them!
                        .extra
                            .ui.right.floated.button
                                | Action


