include eventDayMixins

.ui.relaxed.divided.items

    h3 Event

    each item, i in data

        p= JSON.stringify(eventId)

        if item.activity == 'task'
            + task(item, '')

        if item.activity == 'meal'
            + meal(item, JSON.stringify(mealsSelectorSettings))

        if item.activity == 'activity'
            + activity(item, data.activities)
