
mixin guestSelectPanel(id, guestList)
    div(id=id)
        h5.ui.header Your Guests
        .ui.basic.blue.segment
            if guestList.length
                ul
                    for guest in guestList
                        li.
                            = guest.fullName
                            a.delete.icon(href='guest.id')
            .addGuest.basic.ui.button
                i.add.icon
                | Add Guest

mixin guestSelectModal(id)
    .ui.modal(id=id)
        .header Add Guest
        .content
            form.ui.form(name='personSelectForm', id='personSelectForm')
                .two.fields
                    .field
                        label(for='firstName') First Name
                        input(type='text', name='firstName', id='firstName')

                    .field
                        label(for='firstName') Last Name
                        input(type='text', name='firstName', id='firstName')

                .field
                    label(for='isChild') Is Child
                    input(type='checkbox', name='isChild', id='isChild')
                .ui.error.message
        .actions
          .ui.cancel.button Cancel
          input.ui.submit.primary.button(type='submit', form='personSelectForm', value='Add Guest')
