extends ../layout

append content

    h1 Hangcon Signup
    h2 Please create an account

    form

        input(name="account.email", class="")
        label Email / login

        input(name="account.password", type="password", class="")
        label Password

        input(name="nickName")
        label Nick Name

        input(name="firstName")
        label First Name

        input(name="LastName")
        label Last Name

        a(href"#", class="") Cancel
        a(href"#", class="") Create Account
