@import "/home/ubuntu/workspace/node_modules/semantic-ui-less/semantic";
// @import "://fonts.googleapis.com/icon?family=Material+Icons";

body {
    background-color: #FFFFFF;
}
.ui.menu .item img.logo {
    margin-right: 1.5em;
}
.main.container {
    margin-top: 7em;
}
.wireframe {
    margin-top: 2em;
}
.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

.ui.segment .inline.equal.width.fields {
    margin-bottom: 0;
}

.nicePre {
    overflow: auto;
    white-space: pre;
}