// Include in javascripts area
// append javascripts
//     +searchApiJavascript
//     +addressSelectorInit

// mixin addressSelectorInit
//     $(function(){
//         $('.addressSelector').search(localAddressSearch)
//     })

mixin addressSelector(fieldId, fieldDisplayValue, fieldValue)
    .ui.search.addressSelector
        .ui.icon.input
            input(type="hidden", name=fieldId, value=fieldValue)
            input.prompt(type="text", id=fieldId, autocomplete="false", placeholder="Search for address...", value=fieldDisplayValue)
            i.search.icon
