// Include in javascripts area
// append javascripts
//     +searchApiJavascript
//     +personSelectorInit

mixin searchApiJavascript
    script(src="/javascripts/searchAPIs.js")

mixin personSelectorInit
    script.
        $(function(){
            $('.personSelector').search(localPersonSearch)
        })

mixin personSelector(fieldId, fieldDisplayValue, fieldValue)
    .ui.search.personSelector
        .ui.icon.input
            input(type='hidden', name=fieldId, value=fieldValue)
            input.prompt(type='text', id=fieldId, autocomplete='off', placeholder='Search for person...', value=fieldDisplayValue)
            i.search.icon
