mixin personSelector(fieldName, fieldId, fieldValue)
    .personSelector.ui.search.selection.dropdown
        input(type='hidden', name=fieldName, id=fieldId, value=fieldValue)
        i.dropdown.icon
        input.search(type='text')
        .default.text Select Contact...
