mixin actionButtons(formMode)

    if formMode == 'edit'
        .ui.delete.icon.button.left.floated(title='Delete')
            i.trash.outline.icon
        .ui.small.basic.delete.modal.center
            .header
                | Delete
            .description
                | Are you sure you want to delete this item?
            .actions
                .ui.negative.button
                    | Cancel
                .ui.positive.labeled.icon.button
                    i.checkmark.icon
                    | Delete Now

    .ui.primary.submit.button.right.floated
        case formMode
            when 'edit': | Update
            default: | Save

    a.ui.button.right.floated(href=list)
        | Cancel
