mixin mainFormWrapper
    .ui.segments
        block

mixin messageContainer
    .ui.hidden.clearing.divider
    .ui.error.message
    .ui.hidden.clearing.divider

mixin formSegment
    .ui.padded.segment
        block

mixin formSegmentAlt
    .ui.raised.segment
        block