include ../includes/listToolbar

extend ../layout

block toolbar
    +listToolbar

block appContent

    table.ui.padded.fixed.selectable.table

        thead
            tr
                th Name
                th Start Time
                th End Time
                th Contact

        tbody
            if !data.length
                tr: td.center.aligned(colspan='4')
                    .ui.basic.icon.button
                        a(href=createAction)
                            i.plus.icon
                            | Add First Task

            else
                each row in data
                    tr
                        td(data-label="Name")
                            a#row1Link(href=editAction + row.id)
                                =row.name ? row.name : 'UNDEFINED'

                        td(data-label="Start Time")
                            = row.startTime

                        td(data-label="End Time")
                            = row.endTime

                        td(data-label="Contact")
                            if row._contact
                                a(href="mailto:#{row._contact.email}")
                                    = row._contact.fullName
