include ../includes/listToolbar

extend ../layout

block toolbar
    +listToolbar

block appContent

    table.ui.padded.fixed.selectable.table

        thead
            tr
                th Name
                th Start Time
                th End Time
                th Contact
                // Allergins with icons

        tbody
            if !data.length
                tr: td.center.aligned(colspan='4')
                    .ui.basic.icon.button
                        a(href=createAction)
                            i.plus.icon
                            | Add First Meal

            else
                each row in data
                    tr
                        td(data-label="Name")
                            a#row1Link(href=editAction + row.id)
                                =row._task.name ? row._task.name : 'UNDEFINED'

                        td(data-label="Start Time")
                            = row._task.startTime

                        td(data-label="End Time")
                            = row._task.endTime

                        td(data-label="Contact")
                            if row._task._contact
                                a(href="mailto:#{row._task._contact.email}")
                                    = row._task._contact.fullName
