.ui.fluid.card
    .image
        img(src='/images/avatars/animal-avatars_0017_Layer-9.png')
    .content
        a.header SkunkApe
        .meta
            span Ron Gallant
        .description

    .extra.content
            i.star.icon
            i.food.icon
    .extra.content
        .ui.horizontal.list
            .item
                i.user.icon
                | Deeann
            .item
                i.user.icon
                | Luis
            .item
                i.user.icon
                | Sarah
            .item
                i.paw.icon
                | Spot