
.field.required
    label(for='name') Activity Name
    input(type='text', name='name', id='name', value=data.name)

.field.required.textarea
    label(for='description') Activity Description
    +textarea('description', 'description', '2000')
        = data.description

.two.fields

    .field.required
        label(for="startTime") Start Time
        input(type="text", name="startTime", id="startTime", value=data.startTime)

    .field.required#endTimeField
        label(for="endTime") End Time
        input(type="text", name="endTime", id="endTime", value=data.endTime)
