
.field.required
    label(for='name') Activity Name
    input(type='text', name='name', id='name', value=data.name)

.field.required
    label(for='description') Activity Description
    textarea(name='description', id='description', placeholder='Limit is 2000 characters.', data-maxsize='2000', data-output='descriptionCount', wrap='virtual')
        = data.description
    .label ( #[i#descriptionCount] / 2000)


.two.fields

    .field.required
        label(for="startTime") Start Time
        input(type="text", name="startTime", id="startTime", value=data.startTime)

    .field.required#endTimeField
        label(for="endTime") End Time
        input(type="text", name="endTime", id="endTime", value=data.endTime)
