a.mdl-navigation__link(href='/admin')
    i.mdl-color-text--blue-grey-400.material-icons(role='presentation') home
    | Home
a.mdl-navigation__link(href='/admin/events')
    i.mdl-color-text--blue-grey-400.material-icons(role='presentation') inbox
    | Events
a.mdl-navigation__link(href='')
    i.mdl-color-text--blue-grey-400.material-icons(role='presentation') delete
    | Activities
a.mdl-navigation__link(href='')
    i.mdl-color-text--blue-grey-400.material-icons(role='presentation') report
    | Tasks
a.mdl-navigation__link(href='')
    i.mdl-color-text--blue-grey-400.material-icons(role='presentation') forum
    | Meals

a.mdl-navigation__link(href='')
    i.mdl-color-text--blue-grey-400.material-icons(role='presentation') flag
    | People

a.mdl-navigation__link(href='')
    i.mdl-color-text--blue-grey-400.material-icons(role='presentation') flag
    | Reservations

a.mdl-navigation__link(href='')
    i.mdl-color-text--blue-grey-400.material-icons(role='presentation') local_offer
    | Vendors