mixin card(cols)
    .mdl-card.mdl-color--white.mdl-shadow--2dp.mdl-cell.mdl-grid(class="mdl-cell--#{cols}-col")
        block

mixin cardNoPad(cols)
    .mdl-card.mdl-color--white.mdl-shadow--2dp.mdl-cell(class="mdl-cell--#{cols}-col")
        block
