extend ../layout

include ../layout/mixinCard

block appContent

    h3 Person

    .ui.segment
        table.ui.very.basic.single.line.selectable.table
            thead
                tr
                    th Name
                    th Child

            tbody
                if data.length
                    each row in data
                        tr
                            td(data-label="Name")
                                a#row1Link(href='./edit/' + row.id) #{row.firstName} #{row.lastName}
                            td(data-label="Child")
                                = isChild

            tfoot.full-width
                tr
                    th(colspan='2')
                        a(href=create).ui.right.floated.small.primary.labeled.icon.button
                            i.user.icon
                            | Add Person
